body{
font-family : "Atma",cursive;
font-family : "Mina",sans-serif;
}
#img_0{
width : 100%;
height : 70%;
}
div.polaroid {
width : 100%;
height : 30%;
background-color : white;
box-shadow : 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container{
text-align : center;
padding : 10px 10px;
}
a,label{
color : #8C0A00;
}
#typewriter{
color : #8C0A00;
font-size : 25px;
}
p{
font-size : 25px;
}
button{
background-color : #B50C00;
border : none;
color : white;
padding : 15px 35px;
text-align : center;
text-decoration : none;
display : inline-block;
font-family : "Atma",cursive;
font-family : "Mina",sans-serif;
font-size : 15px;
box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
