body{
font-family : "Atma",cursive;
font-family : "Mina",sans-serif;
}
#img_0{
width : 100%;
height : 70%;
}
div.polaroid {
width : 100%;
height : 30%;
background-color : white;
box-shadow : 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container{
text-align : center;
padding : 10px 10px;
}
a,label{
color : #8C0A00;
}
#typewriter{
font-size : 25px;
}

